#control-sidebar-home-tab{
    margin-top: -10px;
}
#control-sidebar-settings-tab{
    margin-top: -10px;
}

.admin-login-captcha-img{
    width: 320px; height: 80px;
}

.admin-login-captcha-input-icon{
    margin-right: 15px;
}

.admin-login-box {
    left: 50%;
    margin: auto auto auto -180px;
    position: absolute;
    text-align: center;
    top: 10%;
    width: 360px;
    opacity: 0.8;
}

.admin-login-body-background {

    background-color: #000;
    overflow: hidden;
}

.login-logo-a{
    color: #fff !important;
}

.table-search {
    
    width: 150px;
}

.breadcrumb > li + li::before {
    color: #000;
    content: "/ ";
    padding: 0 5px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
 
    background-color:#777 !important;
    border-color:#777 !important;
}

.admin-node-label{
    
    margin-left: 20px;
    font-weight : normal !important;
}

.admin-node-header label{
    
    font-weight : normal !important;
}
.admin-list-img-size {
    
    max-height: 30px;
}
