<!-- AdminLTE App -->
<script src="__STATIC__/ext/adminlte/dist/js/app.min.js"></script>
<!-- AdminLTE for init purposes -->
<script src="__STATIC__/ext/adminlte/dist/js/init.js"></script>

<script src="__STATIC__/ext/toastr/toastr.min.js"></script>
<script src="__STATIC__/ext/btnloading/dist/spin.min.js"></script>
<script src="__STATIC__/ext/btnloading/dist/ladda.min.js"></script>  

<script>
    var logout_url = "{:url('Login/logout')}";
</script>

<script src="__STATIC__/admin/js/onebase.js"></script>

</body>
</html>