a{
    color: #004e96;
}

.nav-tabs-custom > .nav-tabs > li.active{
    border-top-color:#afd9ee;
}

.form-control:focus {
    border: 1px solid #004e96;
    box-shadow: 0 0 12px #ececec;
}

.content-wrapper{
    background-color: #afd9ee;
}

.box {
    border-top: 3px solid #004e96;
}