a{
    color: #00884a;
}

.nav-tabs-custom > .nav-tabs > li.active{
    
    border-top-color:#c1e2b3;
}

.form-control:focus {
    border: 1px solid #00884a;
    box-shadow: 0 0 12px #ececec;
}

.content-wrapper{
    background-color: #c1e2b3;
}

.box {
    border-top: 3px solid #00884a;
}