<div class="box">
    
  <div class="box-body">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>名称</th>
          <th>类型</th>
          <th>描述</th>
          <th>版本</th>
          <th>作者</th>
          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.driver_name}</td>
                  <td>{$vo.driver_class}</td>
                  <td>{$vo.driver_describe}</td>
                  <td>{$vo.author}</td>
                  <td>{$vo.version}</td>
                  <td>
                      <a onclick="toast.error('研发中...');" class="btn skin-btn"><i class="fa fa-refresh"></i> 安 装</a>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="6" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>

</div>