<header class="jumbotron subhead article_details_header" id="overview"></header>

<div id="main-container" class="container">
    <div class="row">
        
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" id="article_category_ul"></ul>
        </div>

        <div class="span9">
            <div>
                <section  id='article_details_content'></section>
            </div>
        </div>
    </div>
</div>

{include file="index/tmpl/details_tmpl" /}