<div class="box">
  <div class="box-header">
      <a class="btn skin-btn" href="{:url('groupAdd')}"><i class="fa fa-plus"></i> 新 增</a>
  </div>
    
  <!-- /.box-header -->
  <div class="box-body">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>名称</th>
          <th>描述</th>
          <th>状态</th>
          <th>操作</th>
      </tr>
      </thead>
      
      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.name}</td>
                  <td>{$vo.describe}</td>
                  <td>{$vo.status_text}</td>
                  <td>
                      <a href="{:url('menuAuth', array('id' => $vo['id']))}" class="btn skin-btn"><i class="fa fa-reorder"></i> 菜单授权</a>
                      &nbsp;
                      <a  onclick="toast.error('研发中...');" class="btn skin-btn"><i class="fa fa-user-plus"></i> 会员授权</a>
                      &nbsp;
                      <a href="{:url('groupEdit', array('id' => $vo['id']))}" class="btn skin-btn"><i class="fa fa-edit"></i> 编辑</a>
                      &nbsp;
                      <a class="btn skin-btn confirm ajax-get"  href="{:url('groupDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删 除</a>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="4" class="text-center" valign="top">aOh! 暂时还没有数据! </td></tr></tbody>
      {/notempty}
    </table>
  </div>
  <!-- /.box-body -->

  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>

</div>