{extend name="Public/base"}
{block name="body"}
<div class="tab-wrap">
    <ul class="tab-nav nav">
        <li><a href="{:url('AuthManager/access',array('group_name'=>$group_name, 'group_id'=> $group_id))}">访问授权</a></li>
	<li class="current"><a href="javascript:;">成员授权</a></li>
        <li class="fr">
            <select name="group">
                {volist name="auth_group" id="vo"}
                    <option value="{:url('AuthManager/memberAccess',array('group_id'=>$vo['id'],'group_name'=>$vo['title']))}" {eq name="vo['id']" value="$this_group['id']"} selected {/eq} >{$vo.title}</option>
                {/volist}
            </select>
        </li>
    </ul>
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th class="">ID</th>
		<th class="">昵称</th>
		<th class="">操作</th>
		</tr>
    </thead>
    <tbody>
		{volist name="list" id="vo"}
                    <tr>
                            <td>{$vo.member_id} </td>
                            <td>{$vo.nickname}</td>
                            <td>
                                <a href="{:url('AuthManager/delMemberAccess?member_id='.$vo['member_id'].'&group_id='.$group_id)}" class="ajax-get">
                                    解除授权
                                </a>
                            </td>
                    </tr>
		{/volist}
	</tbody>
    </table>


    </div>
	<div class="main-title">
		<div class="page_nav fl">
                    {$list->render()}
		</div>
		<div id="add-to-group" class="tools fr">
                    <form class="add-user" action="{:url('setMemberToGroup')}" method="post">
                        <input class="text input-4x" type="text" name="member_id" placeholder="请输入会员ID">
                        <input type="hidden" name="group_id" value="{$group_id}">
                        <button type="submit" class="btn ajax-post" target-form="add-user">新 增</button>
                    </form>
		</div>
	</div>

</div>
{/block}

{block name="script"}
<script type="text/javascript" charset="utf-8">
	$('select[name=group]').change(function(){
		location.href = this.value;
	});
    //导航高亮
    highlight_subnav('{:url('auth_manager/index')}');
</script>
{/block}
