<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="https://demo.onebase.org" />
    {php}echo parse_string_val($seo_info, get_defined_vars()){/php}
    <link href="__STATIC__/ext/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="__STATIC__/ext/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="__STATIC__/ext/bootstrap/css/docs.css" rel="stylesheet">
    <link href="__STATIC__/ext/bootstrap/css/onebase.css" rel="stylesheet">
    <link href="__STATIC__/ext/toastr/toastr.min.css" rel="stylesheet">
    <script type="text/javascript" src="__STATIC__/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="__STATIC__/ext/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/common.js"></script>
    <script src="__STATIC__/ext/toastr/toastr.min.js"></script>
    <script src="__STATIC__/js/js.cookie.js"></script>
    <script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?afc2b8bbe5afca7b1c77c05445eadd98";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();</script>
</head>
<body>