<input type="file" name="file" id="upload_picture_{$addons_data['name']}">

<input type="hidden" name="{$addons_data['name']}" id="{$addons_data['name']}" value="{$addons_data['value']}"/>


<div class="upload-img-box{$addons_data['name']}">
    {notempty name="$info[$addons_data['name']]"}
    <div class="upload-pre-item"><a target="_blank" href="{$info[$addons_data['name']]|default='0'|get_picture_url}"><img style="max-width: {$addons_config['maxwidth']};" src="{$info[$addons_data['name']]|default='0'|get_picture_url}"/></a></div>
    {/notempty}
</div>

<script type="text/javascript">
    
    var maxwidth = "{$addons_config['maxwidth']}";
    
    $("#upload_picture_{$addons_data.name}").uploadify({
        "height"          : 30,
        "swf"             : "{$static_path}uploadify.swf",
        "fileObjName"     : "file",
        "buttonText"      : "上传图片",
        "uploader"        : "{:url('File/pictureUpload',array('session_id'=>session_id()))}",
        "width"           : 120,
        'removeTimeout'	  : 1,
        'fileTypeExts'	  : "{$addons_config['allow_postfix']}",
        "onUploadSuccess" : uploadPicture{$addons_data.name},
        'onFallback' : function() { alert('未检测到兼容版本的Flash.'); }
    });
    
    function uploadPicture{$addons_data.name}(file, data){
        
        var data = $.parseJSON(data);
        
        $("#{$addons_data['name']}").val(data.id);
        
        var src = '/upload/picture/' + data.path;
        
        $(".upload-img-box{$addons_data['name']}").html('<div class="upload-pre-item"> <a target="_blank" href="' + src + '"> <img style="max-width: ' + maxwidth + ';" src="' + src + '"/></a></div>');
    }
    
</script>